
<div class="text-center d-flex justify-content-center justify-content-center align-items-center flex-column gap-3">
    <h1 class="display-4">Pizzeria SussyBaka</h1>
    <p>La Pizzaria migliore di tutta Napoly</p>
    <img src="https://sites.google.com/site/freddyfazbearspizza19872017/_/rsrc/1441564488756/home/nopez.jpg" alt="" />
</div>
